@using Snppts.Infrastructure;

@model List<Category>

<h3 class="title">Categories</h3>
<div class="separator-2"></div>
<nav>
    <ul class="nav nav-pills nav-stacked nav-small">
        @foreach (var item in Model)
        {
            <li><a asp-area="" asp-controller="Snippets" asp-action="Category" asp-route-id="@((int)item)">@item.ToString().ToUpper()</a></li>
        }
    </ul>
</nav>